@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* font family

font-family: "Noto Serif", serif;
 font-family: "Inter", sans-serif;

*/
/* navbar section */
.container {
  margin: 0 auto;
  width: 1140px;
}
body {
  background-color: #f5f8ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 71px;
  align-items: center;
  margin-top: 30px;
}
.navbar .logo img {
  width: 135px;
  height: 82px;
}
.menu {
  display: flex;
  gap: 48px;
  align-items: center;
}
.menu ul {
  display: flex;
  gap: 48px;
}
.menu ul li a {
  font-size: 20px;
  color: #8987a1;
   font-family: "Inter", sans-serif;
}
.menu ul .active a {
  font-weight: 600;
  color: #252432;
   font-family: "Inter", sans-serif;
}
.cart {
  display: flex;
  gap: 10px;
  font-size: 20px;
  color: #000000;
  align-items: center;
      font-family: "Inter", sans-serif;
}
.cart img {
  width: 24px;
  height: 24px;
}

/* Banner part */
.banner {
  margin-top: 109px;
  padding-top: 100px;
  margin-bottom: 120px;
}
.banner-main .left h1 {
  font-size: 65px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  color: #000000;
}
.banner-main .left h1 span {
  color: #e95a08;
}
.banner-main .left p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  color: rgb(0 0 0 / 50%);
  font-weight: 400;
  line-height: 27px;
}
/* products section */
.product .title h3 {
  font-size: 50px;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  color: #e95a08;
}
.product .title h3 span {
  color: #000000;
}
.product .title p {
  color: #8987a1;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin-bottom: 49px;
}
.products .items {
  margin-bottom: 30px;
}
.products .items .item-name {
  font-size: 22px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #111111;
}
.products .items .price {
  font-size: 22px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #111111;
}
.products .items .btn {
  padding: 15px 0;
  background-color: #e95a08;
  color: #f5f8ff;
  width: 100%;
  cursor: pointer;
}
.products .items .btn a {
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

/* Plant lover part */
.plantloverbox .right h1 {
  font-family: "Noto Serif", serif;
}
.plantloverbox .right ul {
  list-style: inside;
}
.plantloverbox .right ul li {
  color: #8987a1;
  font-family: "Inter", sans-serif;
}

/* deals part */
.deal {
  margin-bottom: 120px;
}
.deal .main .title h3 {
  font-size: 50px;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  color: #e95a08;
}
.deal .main .title h3 span {
  color: #000000;
}

.deal .main .title p {
  color: #8987a1;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin-bottom: 49px;
}

.deals {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
  grid-template-areas:
    " item-1 item-1 item-2 item-2 item-2"
    " item-3 item-3 item-2 item-2 item-2";
}
.deals .items {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.deals .item-1 {
  background: url(./assets/deal-bloom.png);
  grid-area: item-1;
  background-size: cover;
}
.deals .item-2 {
  background: url(./assets/deal-zabo.png);
  grid-area: item-2;
  background-size: cover;
}
.deals .item-3 {
  background: url(./assets/deal-ana.png);
  grid-area: item-3;
  background-size: cover;
}
.item-info {
  color: white;
  position: absolute;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 10px;
}
.item-info .price {
  font-weight: bold;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.item-info a {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  font-weight: 600;
  font-size: 18px;
}

.item-2 .item-info .price {
  font-size: 40px;
}
.item-2 .item-info a {
  font-size: 28px;
}

/* subscribe part */
.subscribe {
  background-image: url(./assets/news-letter-bg.png);
  background-size: cover;
  background-position: center center;
}

.subscribe .main .title h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  color: white;
}
.subscribe .main .form input {
  padding: 8px 20px;
  background-color: white;
  font-family: "Inter", sans-serif;
  outline: none;
  font-size: 16px;
}
.subscribe .main .form .email {
  width: 644px;
  height: 50px;
}
.subscribe .main .form .btn {
  width: 186px;
  background-color: #e95a08;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  height: 50px;
}

/* footer part */
footer .main .left p{
  font-size: 22px;
  color: #8987a1;
  font-weight: 400;
  margin-top: 16px;
}
footer .main .middle ul li{
  color: #8987a1;
}